<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>
   <body>
   <%- include('layouts/heading'); -%>
   <%- include('layouts/navbar'); -%>
   
   
      <div class="main">
         <h1>ZANDD Bookkeeping MKII</h1>
         A ZANDD webapplication for bookkeeping purposes.<br>  
         <br>  
         In the left menu you can choose the bookkeeping function. <br><p>
         In the right menu news concerning the status will pop up, or any message/notification.
      </div>
   <%- include('layouts/news'); -%>
   <%- include('layouts/footer'); -%>
   </body>
</html>