<!DOCTYPE html>
<html lang="en">
   <%- include('layouts/header'); -%>
   <body onload="init();">
      <%- include('layouts/heading'); -%>
      <%- include('layouts/navbar'); -%>
      <div class="main">          
         <div>
            <div class="pageFlipper" id="pageFlipperID">
               <button id="pf" type="button"  onclick="loadpage(-1);">Previous</button><br>
               <button id="pf" type="button" onclick="loadpage(1);" >Next </button><br>
               <button id="ed"  type="button"  onclick="enableForm('toggle');">Edit form</button><br>
            </div>
         </div>

         <div class="ledgerentry">
            <h1>Bookkeeping Years Management Page</h1>
            <textarea style="display:none;" id="dataRecords"><%=typeof dataRecords != "undefined" ? JSON.stringify(dataRecords) : "[]"%></textarea>
            <textarea style="display:none;" id="pageDataElements"><%=typeof dataRecord !== "undefined" ? JSON.stringify(dataRecord) : "{}" %></textarea>

            
            Currently the form is<span id="formState"></span> editable.
            <br><p>
            <hr>
            <form id="bookkeepingYears" action="/zndBookkeepingYears" method="POST" enctype="multipart/form-data">
                <textarea style="display:none;" rows="1"  id="_id" name="_id"></textarea>
                <textarea style="display:none;" rows="1"  id="__v" name="__v"></textarea>
                <textarea style="display:none;" rows="1"  id="action" name="action"></textarea>
                <textarea style="display:none;" rows="1"  id="editState" name="editState"></textarea>
                

                <p><label>Bookkeeping Year Label</label>
                <textarea readonly rows="1" cols="40" style="resize: none;text-align:center;" id="bookkeepingYearLabel"></textarea>
                <br><p>
                <p><label>Bookkeeping Year ID:</label>
                <textarea rows="1" cols="40" placeholder="..." id="bookkeepingYearID" name="bookkeepingYearID"></textarea>
                <br><p>
                <p><label>Bookkeeping Year:</label>
                <textarea  rows="1" cols="40" placeholder="..." id="bookkeepingYear" name="bookkeepingYear"></textarea>
                <br><p>                

                <p><label style="vertical-align: top;">Description of Bookkeeping Year:</label>
                <textarea rows="25"  cols="40"  placeholder="..." id="bookkeepingYearDescription" name="bookkeepingYearDescription"></textarea>
                <br><p>
                <div class="buttonbar">                   
                  <button id="FA"   name="createForm"  type="button"  onclick="formulierActie('createData');">Create</button><br>
                  <button id="FAU"  name="updateForm"  type="button"  onclick="formulierActie('updateData');">Update</button><br>
                  <button id="FAD"  name="deleteForm"  type="button"  onclick="formulierActie('deleteData');">Delete</button><br>
                  <button id="FA"   name="Cancel" t    ype="button"   onclick="formulierActie('cancel');">Cancel</button><br>
                </div>
            </form>
         </div>
      </div>      
      <script src="/js/zndBookkeepingYears.js"></script>
   </body>
</html>