<html lang="en">
   <%- include('layouts/header'); -%>
   <body onload="init()">
      <%- include('layouts/heading'); -%>
      <%- include('layouts/navbar'); -%>

      <div class="main" >
         <h1>Zandd Dashboard</h1>    
         <br><p>
         <textarea style="display:none;" id="items" ><%=typeof items !== "undefined" ? JSON.stringify(items) : ""%></textarea>                 
         <textarea style="display:none;" id="queryObj"><%=typeof queryObj !== "undefined" ? JSON.stringify(queryObj) : ""%></textarea>     
         <textarea style="display:none;" id="bookkeepingLedgerNames"><%=typeof bookkeepingLedgerNames !== "undefined" ? JSON.stringify(bookkeepingLedgerNames) : ""%></textarea>
         <h1 id="bookkeepingYears" hidden       ><%=typeof bookkeepingYears !== "undefined" ? JSON.stringify(bookkeepingYears) : ""%></h1>
         
         
         <div class="dashBoardFilter">
          <form>
               <div class="dashBoardButtons">            
                  <button id="pf" type="button"  onclick="refreshPage();">Refresh</button><br>
                  <button id="pf" type="button"  onclick="augmentPage();">Augment</button><br>
               </div>
               <label style="margin-left:10px;">Begin Datum (dd-mm-jjj): </label>   <textarea style="margin-right:50px;resize: none;" rows="1"  cols="20" id="dashStartDate"      placeholder="..." name="dashStartDate"      onchange="filterOnDate(0,1999999999999);"></textarea>                                
               <label style="margin-left:10px;">Eind Datum (dd-mm-jjj): </label>    <textarea style="margin-right:50px;resize: none;" rows="1"  cols="20" id="dashEndDate"        placeholder="..." name="dashEndDate"        onchange="filterOnDate(0,1999999999999);"></textarea>
               <label style="margin-left:10px;">Grootboek rekening:</label>         <select   style="margin-right:50px;resize: none;" rows="1"  cols="20" id="dashledgerAccounts" placeholder="..." name="dashledgerAccounts" onchange="filterOnDate(0,1999999999999);"></select>
               <label style="margin-left:10px;">Bedrijven:</label>                  <select   style="margin-right:50px;resize: none;" rows="1"  cols="20" id="companies"          placeholder="..." name="companies"          onchange="filterOnDate(0,1999999999999);"></select>
          </form>
         </div>
         <br><p>         
         <div id='totalsRecords'></div>
         <hr>
         <div id='manageTotalsByLedger'></div>
         <hr>
         <div id='overviewRecords'></div>
         <hr>
         <div id='statementRecords'></div>
         <hr>
         <br>
         <p>
         <br>
      </div>
      <%- include('layouts/news'); -%>
      <%- include('layouts/footer'); -%>
      <script src="/js/zndDashboard.js"></script>      
      <script src="/js/index.js"></script>
   </body>
</html>