<!DOCTYPE html>
<html lang="en">
   <%- include('layouts/header'); -%>
   <body>
      <%- include('layouts/heading'); -%>
      <%- include('layouts/navbar'); -%>
      <div class="main">
         <h1>Zandd Payment Catagories</h1>
         <hr>
         <table style="width:100%">
            <tr>
               <th>Ref</th>
               <th>paymentCatagoryName</th>
               <th>paymentCatagoryDescription</th>
            </tr>
            <% for (var i = 0; i < items.length; i++) {
            %>
               <tr>
                  <td><a id="dbid" href="/zndPaymentCategory/<%= items[i]._id%>" target="_blank"><%=i+1%></a></td>
                  <td><%= items[i].paymentCatagoryName%></td>
                  <td><%= items[i].paymentCatagoryDescription%></td>
               </tr>
             <% }%>
          </table>
      </div>
      <%- include('layouts/news'); -%>
      <%- include('layouts/footer'); -%>
   </body>
</html>