<!DOCTYPE html>
<html lang="en">
   <%- include('layouts/header'); -%>
   <body>   
      <%- include('layouts/heading'); -%>
      <%- include('layouts/navbar'); -%>
      <div class="main"> 
         <div class="ledgerentry">
            <h1>Statement</h1>                 
        </div> 
      </div> 
	 
      <%- include('layouts/RawDataViewer'); -%>
      <%- include('layouts/footer'); -%>
   </body>
</html>